<div class="signup-container-cg">
   <%= image_tag "logo-icon.png", class: "login-container__logo" %>
   <h2 class="signup-container__signup-text">Sign Up</h2>
   <div class="progress-bar-container-cg">
      <div class="box progress-bar-cg" data-module="progressbar">
         <ol>
            <li class="current-cg qa-progressbar-item-cg">
               <span style="background: #FFB052; !important" class="cell-cg">
                  <span class="item-cg">
                     <span>Caregiver Info</span>
                  </span>
               </span>
            </li>
            <li class="current-cg qa-progressbar-item-cg">
               <span style="background: #FFB052;" class="cell-cg">
                  <span class="item-cg">
                     <span>Caregiver Skills</span>
                  </span>
               </span>
            </li>
            <li class="current-cg qa-progressbar-item-cg">
               <span style="background: #FFB052;" class="cell-cg">
                  <span class="item-cg">
                     <span>Disease Management</span>
                  </span>
               </span>
            </li>
            <li class="current-cg qa-progressbar-item-cg">
               <span style="background: #FFB052;" class="cell-cg">
                  <span class="item-cg">
                     <span>Questionnaire</span>
                  </span>
               </span>
            </li>
            <li class="current-cg qa-progressbar-item last">
               <span class="cell-cg">
                  <span class="item-cg">
                     <span>Experience/Statement</span>
                  </span>
               </span>
            </li>
         </ol>
      </div>
   </div>
   <%= form_for :care_giver, url: 'personal_statement',  html: {class: "nifty_form"} do |f| %>
      <div class="signup-input-container-cg">
         <h3 class="conditions-container__companion--text">Personal Statement a brief description of why the families want to hire you</h3>
         <%= f.text_area :statement, maxlength: 100, placeholder: "Use a story and make it personal", required: true, class: "statement" %><br>
         <%= f.submit "Finish", class: "signup-input-container-cg--submit-cg"%>
      </div>
   <% end %>
</div>