// Place all the styles related to the family controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../base/mix-ins.scss";
@import "../base/variables.scss";

.family-landing-hero{
   z-index:10;
   display: flex;
   flex-direction: column;
   background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),image-url("family.jpeg");
   background-position: 35% 75%;
   background-size: cover;
   @include padding($large-padding + 1, 0, $large-padding + 1, 0);   
   @include element(card) {
      padding: 1.5rem;
      border: 4px solid white;
      background: rgba(253, 253, 253, 0.6);
      color: white;
      width: 80%;
      max-width: 550px;
      @include margin($large-margin + 1, auto, $large-margin, auto);
      text-align: center;
      @include modifier(logo) {
         height: 5.5rem;
         display: block;
         margin: 0 auto;
         @include margin($small-margin, auto, $small-margin + 1, auto);         
      }
      @include modifier(text) {
         font-size: 1rem;
         @include margin($small-margin, auto, $small-margin, auto);         
      }
      @include modifier(bullets) {
         list-style: none;
         padding: 0;
         margin-bottom: 2rem;
      }    
   }
}

.signup-button {
   font-size: 1.5rem;
   color: white;
   text-decoration: none;
   background: $blue;
   padding: 1rem;
   text-align: center;
   width: 190px;
   border-radius: 3px;
   margin: 0 auto;
   border: 1px solid white;
   transition: .3s ease-in-out;
   &:hover {
      cursor: pointer;
      opacity: .8;
   }
}

.family-landing-hero__card--text-main {
   font-size: 1.45rem;
}


@include medium-desktop {
   .family-landing-hero {
      z-index: 10;
      display: flex;
      background-size: cover;
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),image-url("family.png");
      background-size: cover;
      background-repeat: no-repeat;
      flex-direction: row;
      @include padding($large-padding + 2, 0, $large-padding + 7, 0);         
      @include element(card) {
         width: 27%;
         max-width: 350px;
         @include margin($large-margin + 1, auto, $large-margin + 1.5rem, auto);
         text-align: center;   
      }
   }
   .signup-button {
      position: absolute;
      top: 33%;
      left: 0;
      right: 0;
   }

   .family-landing-hero-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 100%;
      padding: 0rem;
   }
}

.family-landing-steps {
   display: flex;
   flex-direction: column;
   background: $light-grey;
   padding-bottom: 1.5rem;
   @include element(section) {
      text-align: center;
      padding: .5rem;      
      @include modifier(text) {
         font-size: $medium-font;
      }
      @include modifier(number) {
         background: $blue;
         font-size: $large-font;
         height: 55px;
         border-radius: 50%;
         width: 57px;
         padding: .5rem;
         color: $white;
         margin: 0 auto;
      }
      @include modifier(paragraph) {
         font-size: $medium-font - .25;
      }
   }
}

@include medium-desktop {
   .family-landing-steps {
      flex-direction: row;
      padding: 2rem;
      @include element(section) {   
         width: 33.3%;         
      }
   }  
}