@import "../base/mix-ins.scss";
@import "../base/variables.scss";

.home-hero-banner {
   height: 360px;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),image-url("home-hero-banner-mobile.png");      
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center right;
   padding: .5rem;
   @include element(content) {
      display: flex;
      flex-direction: column;
      height: 75%;
      justify-content: space-around;
      margin-top: 2.35rem;
      @include modifier(text) {
         text-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
         text-align: center;
         color: white;
      }
   }
   @include element(buttons) {
      display: flex;
      justify-content: space-around;
      @include modifier(family) {
         background: $blue;
         border: 1px solid white;
         padding: 1.2rem;
         text-decoration: none;
         color: white;
         width: 155px;
         text-align: center;
         border-radius: 3px;
         transition: .3s ease-in-out;
         &:hover {
            cursor: pointer;
            opacity: .8;
         }
      }
      @include modifier(caregiver) {
         background: $yellow;
         border: 1px solid white;
         padding: 1.2rem;
         text-decoration: none;
         color: white;
         width: 155px;
         text-align: center;
         border-radius: 3px; 
         transition: .3s ease-in-out;         
         &:hover {
            cursor: pointer;
            opacity: .8;
         }       
      }
   }
}

.home-about-us {
   background: #f2f2f2;
   @include padding($medium-padding + .25, $small-padding, $large-padding, $small-padding);
   @include element(text) {
      color: $light-blue;
      text-decoration: underline;
      text-decoration-color: $yellow;
      text-align: center;
      margin-bottom: 2.5rem;
   }
}

.image-about-paragraph {
   width: 100%;
   margin: 0 auto;
   max-width: 600px;   
   @include element(image) {
      width: 100%;
      max-width: 600px;
      display: block;
      margin: 0 auto;
   }
   @include element(text) {
      color: $blue;
      font-size: $medium-font - .25;
   }
}

.home-contact-form {
   background: $baby-blue;
   @include padding($medium-padding + .25, $small-padding, $large-padding, $small-padding);
   .field {
      margin: 20px 0;
   }
}

@media only screen and (max-width: 365px) {
   .home-hero-banner {
      @include element(content) {
         @include modifier(text) {
            color: white;
            font-size: $medium-font;
         }
      }
      @include element(buttons) {
         @include modifier(family) {
            width: 135px;
            padding: .95rem;            
         }
         @include modifier(caregiver) {
            width: 135px;
            padding: .95rem 0;
         }
      }
   }   
}

@include tablet {
   .home-hero-banner {
      height: 515px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("home-hero-banner.png"); 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
      padding: .5rem;           
      @include element(content) {
         max-width: 550px;
         @include modifier(text) {
            font-size: $extra-large-font;
         }
      }
      @include element(buttons) {
         @include modifier(family) {
            width: 225px;
            padding: 1.5rem;
            font-size: 1.5rem;        
         }
         @include modifier(caregiver) {
            width: 225px;
            padding: 1.5rem;
            font-size: 1.5rem;                     
         }
      }
   } 
   .image-about-paragraph {
      display: flex;
      flex-direction: row-reverse;
      margin: 15px auto;
      max-width: 840px;
      justify-content: space-around;
      padding: 1rem; 
      @include element(text-container) {
         margin: 0;
         width: 45%;
      }
      @include element(image) {
         width: 46%;
         margin: 0;
         height: 208px;
         box-shadow: 10px 10px 0px $blue;
      }
      @include element(text) {
         font-size: .95rem;
         margin: 0rem 0rem 1rem 0rem;
      }
   } 
   
   .home-contact-form {
      display: flex;
      justify-content: space-around;
      padding: 4rem;
      @include element(text) {
         width: 50%;
      }
      form {
         width: 50%;
      }
   }
}

@include medium-desktop {
   .home-hero-banner {
      height: 530px;          
      @include element(content) {
         max-width: 595px;
         @include modifier(text) {
            font-size: $extra-large-font + .5;
         }
      }
      @include element(buttons) {
         @include modifier(family) {
            width: 238px;
            font-size: 1.65rem;        
         }
         @include modifier(caregiver) {
            width: 238px;
            font-size: 1.65rem;                     
         }
      }
   } 
   .image-about-paragraph {
      display: flex;
      flex-direction: row-reverse;
      margin: 0;
      max-width: 100%;
      margin: 0 0 2rem 0;
      @include element(image) {
         height: 316px;
      }
      @include element(text) {
         font-size: 1.25rem;
         margin: 0rem 0rem 1rem 0rem;
      }
   } 
}