// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../base/mix-ins.scss";
@import "../base/variables.scss";

.team-landing-hero{
   z-index:10;
   display: flex;
   flex-direction: column;
   background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),image-url("team.png");
   background-position: 63% 75%;
   background-size: cover;
   @include element(card) {
      padding: .75rem;
      height: 31rem;
      border: 4px solid white;
      background: rgba(253, 253, 253, 0.6);
      color: white;
      width: 80%;
      max-width: 350px;
      @include margin($small-margin, auto, $small-margin, auto);
      text-align: center;
      @include modifier(logo) {
         height: 5.5rem;
         display: block;
         margin: 0 auto;
         @include margin($small-margin, auto, $small-margin + 1, auto);         
      }
      @include modifier(text) {
         font-size: 1rem;
         @include margin($small-margin, auto, $small-margin, auto);         
      }
      @include modifier(bullets) {
         padding: 0;
         margin: 0 auto;
         text-align: left;
         display: none;         
         width: 55%;
         position: relative;
         left: 8%;
      }  
      @include modifier(button) {
         display: block;
         border-radius: 3px;
         @include padding($small-padding - .25, $small-padding, $small-padding - .25, $small-padding);         
         margin: 0 auto;
         background: $blue;
         color: white;
         border: none;
         &:hover {
            cursor: pointer;
         }
      }    
   }
}

@media only screen and (min-width: 414px) {
   .team-landing-hero{
      @include element(card) {
         @include modifier(bullets) {
            width: 75%;
         }      
      }
   }
}

@media only screen and (min-width: 450px) {
   .team-landing-hero{
      @include element(card) {
         @include modifier(bullets) {
            width: 70%;
         }      
      }
   }
}

@media only screen and (min-width: 500px) {
   .team-landing-hero{
      @include element(card) {
         @include modifier(bullets) {
            width: 65%;
         }      
      }
   }
}

@media only screen and (min-width: 500px) {
   .team-landing-hero{
      @include element(card) {
         @include modifier(bullets) {
            width: 65%;
         }      
      }
   }
}

.team-landing-hero__card--text-main {
   font-size: 1.45rem;
}

.bg-image {
   background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),image-url("family.jpeg");
   background-position: 35% 75%;
   width:100%;
   height:100%;
   -webkit-filter: blur(5px);
   z-index:0;
   position: absolute;
   background-position: 35% 75%;
   background-size:cover;
   filter: blur(3px);
   z-index: -1;
}

@include medium-desktop {
   .team-landing-hero{
      z-index: 10;
      display: flex;
      background-size: cover;
      height: 650px;
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),image-url("team.png");
      background-size: cover;
      background-repeat: no-repeat;
      flex-direction: row;
      @include element(card) {
         border: 4px solid white;
         background: rgba(253, 253, 253, 0.6);
         color: white;
         height: 29rem;
         padding: 0rem 0rem;
         margin: 2rem;
         text-align: center;
         width: 29%;
         min-width: 250px;
         max-width: 250px;
         @include modifier(logo) {
            height: 5.5rem;
            display: block;
            margin: 0 auto;
            @include margin($small-margin, auto, $small-margin + 1, auto);         
         }
         @include modifier(text) {
            font-size: 1rem;
            @include margin($small-margin, auto, $small-margin, auto);         
         }
         @include modifier(bullets) {
            padding: 0;
            margin: 0 auto;
            text-align: left;
            display: none;
            width: 70%;
            position: relative;
            left: 8%;
         }  
         @include modifier(button) {
            display: block;
            border-radius: 3px;
            @include padding($small-padding - .25, $small-padding, $small-padding - .25, $small-padding);         
            margin: 0 auto;
            background: $blue;
            color: white;
            border: none;
            &:hover {
               cursor: pointer;
            }
         }    
      }
   }

   .team-landing-hero-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 100%;
      padding: 0rem;
   }
}