<section class="family-landing-hero">
   <div class="family-landing-hero-container">
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 class="family-landing-hero__card--text">A Care Team of your choice</h4>
         <ul id="dropdown-1" class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">Memory impairment support</li>
            <li class="family-landing-hero__card--text">Medication reminders</li>
            <li class="family-landing-hero__card--text">Bathing, grooming, dressing</li>
            <li class="family-landing-hero__card--text">Home cleaning, meal preperation</li>
            <li class="family-landing-hero__card--text">Companion care, transportation</li>
         </ul>
         <button id="dropdown-button-1" class="family-landing-hero__card--button">Learn More</button>
      </div>
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 class="family-landing-hero__card--text">Aging-in-place Services</h4>
         <ul id="dropdown-2" class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">Memory impairment support</li>
            <li class="family-landing-hero__card--text">Medication reminders</li>
            <li class="family-landing-hero__card--text">Bathing, grooming, dressing</li>
            <li class="family-landing-hero__card--text">Home cleaning, meal preperation</li>
            <li class="family-landing-hero__card--text">Companion care, transportation</li>
         </ul>
         <button id="dropdown-button-2" class="family-landing-hero__card--button">Learn More</button>
      </div>
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 class="family-landing-hero__card--text">Trustworthy Caregivers</h4>
         <ul id="dropdown-3" class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">Background checked</li>
            <li class="family-landing-hero__card--text">Insured and bonded</li>
            <li class="family-landing-hero__card--text">Dependable and well-trained</li>
            <li class="family-landing-hero__card--text">Compassionate and empowered</li>
         </ul>
         <button id="dropdown-button-3" class="family-landing-hero__card--button">Learn More</button>
      </div>
   </div>
</section>
<section>
   <div>
      <h4>Sign Up</h4>
      <div>1</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
   <div>
      <h4>Post Your Job</h4>
      <div>2</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
   <div>
      <h4>Select a Team </h4>
      <div>3</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
</section>
<section class="home-contact-form">
   <div class="home-contact-form__text">
      <h1 style="color: #104A75">Send us a message</h1>
      <h4 class="image-about-paragraph__text">Service Support: 1-800-888-8888</h4>
      <h4 class="image-about-paragraph__text">Technical Support: 1-800-888-8888</h4>
   </div>
  <form>
      <div class="field">
         <input type="text" placeholder="name" class="signup-input-container--input">
      </div>
      <div class="field">
         <input type="text" placeholder="email" class="signup-input-container--input">
       </div>
      <div class="field">
         <input type="text" placeholder="subject" class="signup-input-container--input">
      </div>
      <div class="field">
         <textarea style="height: 250px !important"placeholder="message" class="signup-input-container--input"></textarea>
      </div>
      <input type="submit" class="email-password__submit">
  </form>
</section>