<section>
   <div>
      <%= image_tag "logo-icon.png" %>
      <h4>A Care Team of your choice</h4>
      <ul>
         <li>Memory impairment support</li>
         <li>Medication reminders</li>
         <li>Bathing, grooming, dressing</li>
         <li>Home cleaning, meal preperation</li>
         <li>Companion care, transportation</li>
      </ul>
      <button>Learn More</button>
   </div>
   <div>
      <%= image_tag "logo-icon.png" %>
      <h4>Aging-in-place Services</h4>
      <ul>
         <li>Memory impairment support</li>
         <li>Medication reminders</li>
         <li>Bathing, grooming, dressing</li>
         <li>Home cleaning, meal preperation</li>
         <li>Companion care, transportation</li>
      </ul>
      <button>Learn More</button>
   </div>
   <div>
      <%= image_tag "logo-icon.png" %>
      <h4>Trustworthy Caregivers</h4>
      <ul>
         <li>Background checked</li>
         <li>Insured and bonded</li>
         <li>Dependable and well-trained</li>
         <li>Compassionate and empowered</li>
      </ul>
      <button>Learn More</button>
   </div>
</section>
<section>
   <div>
      <h4>Sign Up</h4>
      <div>1</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
   <div>
      <h4>Post Your Job</h4>
      <div>2</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
   <div>
      <h4>Select a Team </h4>
      <div>3</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
   </div>
</section>
<section class="home-contact-form">
   <div class="home-contact-form__text">
      <h1 style="color: #104A75">Send us a message</h1>
      <h4 class="image-about-paragraph__text">Service Support: 1-800-888-8888</h4>
      <h4 class="image-about-paragraph__text">Technical Support: 1-800-888-8888</h4>
   </div>
  <form>
      <div class="field">
         <input type="text" placeholder="name" class="signup-input-container--input">
      </div>
      <div class="field">
         <input type="text" placeholder="email" class="signup-input-container--input">
       </div>
      <div class="field">
         <input type="text" placeholder="subject" class="signup-input-container--input">
      </div>
      <div class="field">
         <textarea style="height: 250px !important"placeholder="message" class="signup-input-container--input"></textarea>
      </div>
      <input type="submit" class="email-password__submit">
  </form>
</section>