<section class="family-landing-hero">
   <div class="family-landing-hero-container">
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 style="font-size: 1.5rem; margin-bottom: 2rem;" class="family-landing-hero__card--text">A Care Team of your choice</h4>
         <ul class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">A caregiver meeting your needs</li>
            <li class="family-landing-hero__card--text">Support from a team</li>
            <li class="family-landing-hero__card--text">No more care gaps</li>
            <li class="family-landing-hero__card--text">A real piece of mind</li>
         </ul>
      </div>
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 style="font-size: 1.5rem; margin-bottom: 2rem;" class="family-landing-hero__card--text">Aging-in-place Services</h4>
         <ul class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">Memory impairment support</li>
            <li class="family-landing-hero__card--text">Medication reminders</li>
            <li class="family-landing-hero__card--text">Bathing, grooming, dressing</li>
            <li class="family-landing-hero__card--text">Home cleaning, meal preperation</li>
            <li class="family-landing-hero__card--text">Companion care, transportation</li>
         </ul>
      </div>
      <div class="family-landing-hero__card">
         <%= image_tag "logo-icon.png", class: "family-landing-hero__card--logo" %>
         <h4 style="font-size: 1.5rem; margin-bottom: 2rem;" class="family-landing-hero__card--text">Trustworthy Caregivers</h4>
         <ul class="family-landing-hero__card--bullets">
            <li class="family-landing-hero__card--text">Background checked</li>
            <li class="family-landing-hero__card--text">Insured and bonded</li>
            <li class="family-landing-hero__card--text">Dependable and well-trained</li>
            <li class="family-landing-hero__card--text">Compassionate and empowered</li>
         </ul>
      </div>
   </div>
   <%= link_to "Sign Up!", "families/sign_up", class: "signup-button" %>
</section>
<section class="family-landing-steps">
   <div class="family-landing-steps__section">
      <h4 class="family-landing-steps__section--text">Sign Up</h4>
      <div class="family-landing-steps__section--number">1</div>
      <p class="family-landing-steps__section--paragraph">
         Enter some basic information for you and the care recipient
      </p>
   </div>
   <div class="family-landing-steps__section">
      <h4 class="family-landing-steps__section--text">Post Your Job</h4>
      <div class="family-landing-steps__section--number">2</div>
      <p class="family-landing-steps__section--paragraph">
         Post a job for the care recipient
      </p>
   </div>
   <div class="family-landing-steps__section">
      <h4 class="family-landing-steps__section--text">Select a Team </h4>
      <div class="family-landing-steps__section--number">3</div>
      <p class="family-landing-steps__section--paragraph">
         Find a care team and a caregiver of your choice
      </p>
   </div>
</section>
<section class="home-contact-form">
   <div class="home-contact-form__text">
      <h1 style="color: #104A75">Send Us a Message</h1>
      <h4 class="image-about-paragraph__text">Service Support: 1-800-888-8888</h4>
      <h4 class="image-about-paragraph__text">Technical Support: 1-800-888-8888</h4>
   </div>
  <form>
      <div class="field">
         <input type="text" placeholder="name" class="signup-input-container--input">
      </div>
      <div class="field">
         <input type="text" placeholder="email" class="signup-input-container--input">
       </div>
      <div class="field">
         <input type="text" placeholder="subject" class="signup-input-container--input">
      </div>
      <div class="field">
         <textarea style="height: 250px !important"placeholder="message" class="signup-input-container--input"></textarea>
      </div>
      <input style="background: #104A75"  type="submit" class="email-password__submit">
  </form>
</section>