<section class="home-hero-banner">
   <div class="home-hero-banner__content">
      <h1 class="home-hero-banner__content--text">Superior Team-based In-home Care for Seniors, Like No Other!</h1>
      <div class="home-hero-banner__buttons">
         <%= link_to "I am a family", {controller: "pages", action: "family"}, class: "home-hero-banner__buttons--family" %>
         <%= link_to "I am a caregiver", {controller: "pages", action: "care_giver"}, class: "home-hero-banner__buttons--caregiver" %>
      </div>
   </div>
</section>
<section class="home-about-us">
   <h1 class="home-about-us__text">About us</h1>
   <div class="image-about-paragraph">
      <%= image_tag "about-us.png", class: "image-about-paragraph__image" %>
      <div class="image-about-paragraph__text-container">
         <p class="image-about-paragraph__text" >
            TeamCarer is a digital marketplace that connects families and caregivers for in-home senior care. Caregivers work as teams to help seniors live independently 
            at home by offering services such as bathing, dressing, grooming, house cleaning, meal preparation, medication reminders, memory impairment support, and companion care. All caregivers are screened, background checked and bonded.
            Team members support, motivate, empower, and learn from each other to ensure trust and superior quality of care.
         </p>
         <p class="image-about-paragraph__text">Our vision: A better profession for caregivers and a better life for families and seniors!</p>
      </div>
   </div>
</section>
<%= render "layouts/partials/contact" %>





