<h1>Welcome!!</h1>
<p>This page will serve as the landing page will have content all around here exlpaining the product</p>
<%= link_to "i am a family",  controller: "pages", action: "family" %>
<%= link_to "i am a caregiver",  controller: "pages", action: "care_giver" %>



