<section>
   <h1>Superior team-based in-home care for Seniors, like no other!</h1>
   <%= link_to "i am a family",  controller: "pages", action: "family" %>
   <%= link_to "i am a caregiver",  controller: "pages", action: "care_giver" %>
</section>
<section>
   <h1>About us</h1>
   <p>
      Teamcarer is a digital marketplace that connects families and caregivers for in-home senior care. Caregivers work as teams to help seniors with bathing, dressing, grooming, house cleaning, 
      meal preparation, medication reminders, memory impairment support, companion care and other services that help seniors remain in a home setting.
   </p>
   <img src="#" alt="image from wilson here"/><br>
   <%= link_to "Sign up",  controller: "pages", action: "care_giver" %>
</section>
<section>
   <h1>Send us a message</h1>
   <span>Service Support: 1-800-888-8888</span>
   <span>Technical Support: 1-800-888-8888</span>
  <form>
      <input type="text" placeholder="name"><br>
      <input type="text" placeholder="email"><br>
      <input type="text" placeholder="subject"><br>
      <textarea placeholder="message"></textarea><br>
      <input type="submit">
  </form>
</section>



