<h1>this is the page that will have all the team login / sign </h1>
<% if team_signed_in? %>
   <li class="nav-item"><%= link_to "Logout team", destroy_team_session_path, method: :delete, class: "nav-link" %></li>
<% else %>
   <li class="nav-item"><%= link_to "Sign In team", new_team_session_path, class: "nav-link" %></li>
   <li class="nav-item"><%= link_to "Sign Up team", new_team_registration_path, class: "nav-link" %></li>
<% end %>
<%= link_to "back to home", "/" %>