<% @teams.each do |team| %>    <!-- Featured Post -->
   <div style="border: 1px solid lightgrey" class="post">
      <p>Team name:<%= team.team_name %></p>
      <p>Team statement:<%= team.team_statement %></p>
      <p>Team owner:<%= team.team.firstname %></p>
      <%= link_to 'join team', '/' %>
   </div>
<% end %>