<h3>Your Team</h3>
<% if(@team != nil) then %>
   <div style="border: 1px solid lightgrey" class="post">
      <p>Team name: <%= @team.team_name %></p>
      <p>Team statement: <%= @team.team_statement %></p>
      <p>Leader: <%= @team.team.email %></p>
      <% if(@members.length > 2) then %>
         <% @members.each do |member|%>
            <p>Member: <%= member.email %></p>
         <% end %>
      <% else %>
         <p>There are currently no other members</p>
      <% end %>
   </div>
   <p>user will also be able to see all members of the team and also leader</p>
<% else %>
   <p>You are currently not in a team</p>
<% end %>