<h2>Welcome <%= current_family.firstname %>!</h2>
<div style="border: 1px solid lightgrey" class="post">
   <p>Name: <%= @family.firstname %><%= @family.lastname %></p>
</div>
<p>FAMILY NEEDS TO VIEW HIS / HER INFO IN THIS PAGE</p>
