@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "base/mix-ins.scss";
@import "base/variables.scss";

* {
   font-family: 'Raleway', sans-serif;
   box-sizing: border-box;
}

html {
   font-size: 15px;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
}

.main {
   position: relative;
   width: 100%;
   -webkit-transform: translateX(0);
   transform: translateX(0);
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: 300ms ease all;
   transition: 300ms ease all;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.show {
   background: black;
   height: 100%;
   width: 100%;
   opacity: .5;
   z-index: 1;
   position: absolute;
}

.alert {
   position: relative;
   padding: .75rem 1.25rem;
   border: 1px solid transparent;
   font-size: $small-font + .25;
   color: #0c5460;
   background-color: #d1ecf1;
   border-color: #bee5eb;
}
 

@import "partials/_header.scss";
@import "styles/home.scss";
@import "partials/_footer.scss";
@import "styles/login.scss";
@import "styles/family/family-signup.scss";
@import "styles/caregiver/caregiver-signup.scss";
@import "styles/caregiver/dashboard/caregiver-layout.scss";
@import "styles/caregiver/dashboard/home.scss";
@import "styles/caregiver/dashboard/new-care-team.scss";
@import "styles/caregiver/dashboard/all-posts.scss";
@import "styles/caregiver/dashboard/hours.scss";
@import "styles/family/family-landing.scss";
@import "styles/family/dashboard/family-layout.scss";
@import "styles/family/dashboard/home.scss";
@import "styles/family/dashboard/new-post.scss";
@import "styles/family/dashboard/search.scss";
@import "styles/family/dashboard/search-results.scss";
@import "styles/family/dashboard/show-team.scss";
@import "styles/family/dashboard/show-member.scss";
@import "styles/scaffolds.scss";
@import "styles/caregiver/caregiver-landing.scss";