<footer>
   <div class="footer-container">
      <div class="footer-social-scroll">
         <div class="footer-social-scroll__social">
            <p class="footer-social-scroll__social--text">Follow Us!</p>
            <div class="footer-social-scroll__social--icons">
               <a href="#"><i class="fab fa-facebook"></i></a>
               <a href="#"><i class="fab fa-twitter-square"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
         </div>
         <div class="footer-social-scroll__scroll">
            <p class="footer-social-scroll__scroll--text">Back to top</p>
            <i class="fas fa-arrow-circle-up"></i>
         </div>
      </div>
      <div class="footer-contact">
         <p class="footer-contact__text">Contact Us Now!</p>
         <p class="footer-contact__text">Service: 
            <a class="footer-contact__text--num" href="tel:+1-800-888-8888">1-800-888-8888</a>
         </p>
         <p class="footer-contact__text">Technical:
            <a class="footer-contact__text--num" href="tel:+1-800-888-8888">1-800-888-8888</a>
         </p>
      </div>
      <div class="footer-copyright">
         <small class="footer-copyright__text">
            <a class="footer-copyright__text--link" href="#">Privacy Policy</a>
         </small>
         <small class="footer-copyright__text">©2018 TeamCarer. All Rights Reserved.</small>
         <small class="footer-copyright__text">
            <a class="footer-copyright__text--link" href="#">Terms & conditions</a>
         </small>
      </div>
   </div>
</footer>