<footer>
   <i class="fab fa-facebook"></i>
   <i class="fab fa-twitter-square"></i>
   <i class="fab fa-instagram"></i>
   <p>Service Support: 1-800-888-8888  |  Technical Support: 1-800-888-8888</p>
   <small>©2018 TeamCarer. All Rights Reserved</small>
</footer>